---
http_interactions:
- request:
    method: post
    uri: https://<BASIC_AUTH>@api.github.com/gists/2900588/fork?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"2aff62ec12336f5e052d64d210bbada4"'
      Location:
      - https://api.github.com/gists/2900601
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: ASCII-8BIT
      string: ! "{\"files\":{\"gistfile1.md\":{\"type\":\"text/plain\",\"raw_url\":\"https://gist.github.com/raw/2900601/9b41849b4d87a4d0ac3238513e9d2d39a0dd68bf/gistfile1.md\",\"language\":\"Markdown\",\"size\":1578,\"filename\":\"gistfile1.md\"}},\"description\":\"kaminari
        gem ã\x81§ twitter é¢¨ã\x81® AutoPagerize ã\x81\x8Cç°¡å\x8D\x98ã\x81«å®\x9Fç\x8F¾ã\x81§ã\x81\x8Dã\x82\x8Bã\x81®ã\x81\x8Bèª¿ã\x81¹ã\x81\x9F\",\"created_at\":\"2012-06-09T11:19:04Z\",\"public\":true,\"updated_at\":\"2012-06-09T11:19:04Z\",\"url\":\"https://api.github.com/gists/2900601\",\"comments\":0,\"git_pull_url\":\"git://gist.github.com/2900601.git\",\"git_push_url\":\"git@gist.github.com:2900601.git\",\"html_url\":\"https://gist.github.com/2900601\",\"id\":\"2900601\",\"user\":{\"url\":\"https://api.github.com/users/<USER>\",\"avatar_url\":\"https://secure.gravatar.com/avatar/80cbc0fc6c03d43f495b2342b31fe4fa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png\",\"gravatar_id\":\"80cbc0fc6c03d43f495b2342b31fe4fa\",\"id\":1223156,\"login\":\"<USER>\"}}"
  recorded_at: Sat, 09 Jun 2012 11:19:05 GMT
- request:
    method: post
    uri: https://api.github.com/gists/2900588/fork?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 09 Jun 2012 14:59:14 GMT
recorded_with: VCR 2.2.0
