{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/1738161/star?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":"Basic <%= Base64.encode64(\"foobarmostunique:foobazquxmostrighteous\").chomp %>"}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4989"], "X-Ratelimit-Reset":["1491761302"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Sun, 09 Apr 2017 17:44:05 GMT"}],"recorded_with":"VCR 2.9.3"}