{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/starred?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":"Basic <%= Base64.encode64(\"foobarmostunique:foobazquxmostrighteous\").chomp %>"}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4991"], "X-Ratelimit-Reset":["1491761302"], "Etag":["\"be2b47a6aa91c255a63bbfbd08983b13\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 09 Apr 2017 17:43:10 GMT"}],"recorded_with":"VCR 2.9.3"}