{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/projects/columns/895044?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Basic c2FtcGhpbGlwZDpVZFVmUWZyeVVqcjlqSFlKTnBrR2dvM1A2OWpkYzY=\""]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4959"], "X-Ratelimit-Reset":["1491901158"], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 11 Apr 2017 08:54:12 GMT"}],"recorded_with":"VCR 3.0.3"}
