{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/memberships/orgs?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":"Basic <%= Base64.encode64(\"foobarmostunique:foobazquxmostrighteous\").chomp %>"}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4997"], "X-Ratelimit-Reset":["1448136014"], "Etag":["\"be2b47a6aa91c255a63bbfbd08983b13\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sat, 21 Nov 2015 19:15:06 GMT"}],"recorded_with":"VCR 2.6.0"}