{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/projects/columns/cards/2448397/moves?access_token=<TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJwb3NpdGlvbiI6ImFmdGVyOjI0MjI4NzAifQ==\n"},"headers":{"Content-Type":["application/json"], "Authorization":["Basic c2FtcGhpbGlwZDpVZFVmUWZyeVVqcjlqSFlKTnBrR2dvM1A2OWpkYzY=\""]}},"response":{"status":{"code":201,"message":"Created"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["201 Created"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4981"], "X-Ratelimit-Reset":["1491904782"], "Etag":["\"feaaea8e5636af33263299f89d3e96ce\""], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Tue, 11 Apr 2017 09:10:46 GMT"}],"recorded_with":"VCR 3.0.3"}