---
http_interactions:
- request:
    method: post
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/issues/1/labels?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '["bug"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1dec5bebb2dc8441875411e587db6d82"'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Limit:
      - '5000'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: US-ASCII
      string: ! '[{"color":"fc2929","url":"https://api.github.com/repos/<USER>/github_api_test/labels/bug","name":"bug"}]'
  recorded_at: Fri, 28 Dec 2012 20:46:11 GMT
recorded_with: VCR 2.3.0
