---
http_interactions:
- request:
    method: post
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/labels?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '{"name":"api","color":"FFFFFF"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"07b4f902ae0cd3ce75cd445626222079"'
      Location:
      - https://api.github.com/repos/<USER>/github_api_test/labels/api
      X-Github-Media-Type:
      - github.beta
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"color":"FFFFFF","url":"https://api.github.com/repos/<USER>/github_api_test/labels/api","name":"api"}'
  recorded_at: Sun, 16 Dec 2012 18:02:49 GMT
recorded_with: VCR 2.3.0
