---
http_interactions:
- request:
    method: put
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/issues/1/labels?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '["question","duplicate"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"cec31b586c46a8e45742fca2dbafd195"'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Limit:
      - '5000'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: US-ASCII
      string: ! '[{"color":"cccccc","url":"https://api.github.com/repos/<USER>/github_api_test/labels/duplicate","name":"duplicate"},{"color":"cc317c","url":"https://api.github.com/repos/<USER>/github_api_test/labels/question","name":"question"}]'
  recorded_at: Fri, 28 Dec 2012 20:48:54 GMT
recorded_with: VCR 2.3.0
