---
http_interactions:
- request:
    method: patch
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/labels/api?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '{"name":"api","color":"000000"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Limit:
      - '5000'
      X-Github-Media-Type:
      - github.beta
      Etag:
      - ! '"06def9dc9c24b11d03a61a6b541cb122"'
    body:
      encoding: US-ASCII
      string: ! '{"color":"000000","url":"https://api.github.com/repos/<USER>/github_api_test/labels/api","name":"api"}'
  recorded_at: Sun, 16 Dec 2012 18:05:56 GMT
recorded_with: VCR 2.3.0
