{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/projects/515967?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":"Basic <%= Base64.encode64(\"foobarmostunique:foobazquxmostrighteous\").chomp %>"}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1491477973"], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 06 Apr 2017 10:28:10 GMT"}],"recorded_with":"VCR 2.9.3"}