{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/projects/524103?access_token=<TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Basic bXVyZWs6VGVzdGluZzEyMw==\""]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1491951541"], "X-Github-Media-Type":["github.inertia-preview; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 11 Apr 2017 22:05:00 GMT"}],"recorded_with":"VCR 3.0.3"}