---
http_interactions:
- request:
    method: delete
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/contents/hello.rb?access_token=<TOKEN>&message=Delete%20hello.rb%20file&path=hello.txt&sha=25b0bef9e404bd2e3233de26b7ef8cbd86d0e913
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Github-Media-Type:
      - github.v3; format=json
      Etag:
      - ! '"ab64a47801386e907c217a850d779f17"'
    body:
      encoding: US-ASCII
      string: ! '{"content":null,"commit":{"sha":"8b1c1a560db750f0725f7a7778abfceda1c64103","url":"https://api.github.com/repos/<USER>/github_api_test/git/commits/8b1c1a560db750f0725f7a7778abfceda1c64103","html_url":"https://github.com/<USER>/github_api_test/commits/8b1c1a560db750f0725f7a7778abfceda1c64103","author":{"name":"<USER>","email":"<EMAIL>","date":"2013-06-22T18:51:32Z"},"committer":{"name":"<USER>","email":"<EMAIL>","date":"2013-06-22T18:51:32Z"},"tree":{"sha":"f93e3a1a1525fb5b91020da86e44810c87a2d7bc","url":"https://api.github.com/repos/<USER>/github_api_test/git/trees/f93e3a1a1525fb5b91020da86e44810c87a2d7bc"},"message":"Delete
        hello.rb file","parents":[{"sha":"4b3bda29b07b79de87042ab410c3a5794abbed7c","url":"https://api.github.com/repos/<USER>/github_api_test/git/commits/4b3bda29b07b79de87042ab410c3a5794abbed7c","html_url":"https://github.com/<USER>/github_api_test/commits/4b3bda29b07b79de87042ab410c3a5794abbed7c"}]}}'
  recorded_at: Sat, 22 Jun 2013 18:51:32 GMT
recorded_with: VCR 2.4.0
