---
http_interactions:
- request:
    method: patch
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/issues/comments/11675857?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '{"body":"No worries this should be fixed now."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.beta
      Etag:
      - ! '"2f5b3d8fd30ad241cdf8be89ea191a54"'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: US-ASCII
      string: ! '{"issue_url":"https://api.github.com/repos/<USER>/github_api_test/issues/5020363","body":"No
        worries this should be fixed now.","updated_at":"2012-12-25T20:25:10Z","url":"https://api.github.com/repos/<USER>/github_api_test/issues/comments/11675857","created_at":"2012-12-25T20:25:10Z","user":{"type":"User","received_events_url":"https://api.github.com/users/<USER>/received_events","avatar_url":"https://secure.gravatar.com/avatar/80cbc0fc6c03d43f495b2342b31fe4fa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gists_url":"https://api.github.com/users/<USER>/gists{/gist_id}","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following","organizations_url":"https://api.github.com/users/<USER>/orgs","starred_url":"https://api.github.com/users/<USER>/starred{/owner}{/repo}","url":"https://api.github.com/users/<USER>","gravatar_id":"80cbc0fc6c03d43f495b2342b31fe4fa","repos_url":"https://api.github.com/users/<USER>/repos","login":"<USER>","events_url":"https://api.github.com/users/<USER>/events{/privacy}","subscriptions_url":"https://api.github.com/users/<USER>/subscriptions","id":1223156},"id":11675857}'
  recorded_at: Tue, 25 Dec 2012 20:29:42 GMT
recorded_with: VCR 2.3.0
