---
http_interactions:
- request:
    method: post
    uri: https://<BASIC_AUTH>@api.github.com/repos/<USER>/github_api_test/milestones?access_token=<TOKEN>
    body:
      encoding: UTF-8
      string: ! '{"title":"fix-all","state":"open","description":"fixing all issues"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Limit:
      - '5000'
      X-Github-Media-Type:
      - github.beta
      Etag:
      - ! '"8099333efac8fa9ec10b1adfece9b63a"'
      Location:
      - https://api.github.com/repos/<USER>/github_api_test/milestones/1
    body:
      encoding: US-ASCII
      string: ! '{"state":"open","labels_url":"https://api.github.com/repos/<USER>/github_api_test/milestones/1/labels","url":"https://api.github.com/repos/<USER>/github_api_test/milestones/1","due_on":null,"creator":{"type":"User","gists_url":"https://api.github.com/users/<USER>/gists{/gist_id}","organizations_url":"https://api.github.com/users/<USER>/orgs","url":"https://api.github.com/users/<USER>","gravatar_id":"80cbc0fc6c03d43f495b2342b31fe4fa","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following","login":"<USER>","events_url":"https://api.github.com/users/<USER>/events{/privacy}","subscriptions_url":"https://api.github.com/users/<USER>/subscriptions","repos_url":"https://api.github.com/users/<USER>/repos","avatar_url":"https://secure.gravatar.com/avatar/80cbc0fc6c03d43f495b2342b31fe4fa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","starred_url":"https://api.github.com/users/<USER>/starred{/owner}{/repo}","id":1223156,"received_events_url":"https://api.github.com/users/<USER>/received_events"},"open_issues":0,"created_at":"2012-12-15T11:52:52Z","closed_issues":0,"title":"fix-all","number":1,"id":230459,"description":"fixing
        all issues"}'
  recorded_at: Sat, 15 Dec 2012 11:52:52 GMT
recorded_with: VCR 2.3.0
