{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/1799974/memberships/shwetakale?access_token=<TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/x-www-form-urlencoded"], "Authorization":"Basic <%= Base64.encode64(\"foobarmostunique:foobazquxmostrighteous\").chomp %>"}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4981"], "X-Ratelimit-Reset":["1443945048"], "Etag":["W/\"5e02322894b324f35a8bed9c089a6245\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0ZSI6ImFjdGl2ZSIsInVybCI6Imh0dHBzOi8vYXBpLmdpdGh1Yi5j\nb20vdGVhbXMvMTc5OTk3NC9tZW1iZXJzaGlwcy9TaHdldGFrYWxlIiwicm9s\nZSI6Im1lbWJlciJ9\n"},"http_version":null},"recorded_at":"Sun, 04 Oct 2015 07:38:43 GMT"}],"recorded_with":"VCR 2.6.0"}