---
http_interactions:
- request:
    method: post
    uri: https://<BASIC_AUTH>@api.github.com/user/repos
    body:
      encoding: UTF-8
      string: ! '{"homepage":"https://github.com","private":false,"has_issues":true,"has_wiki":true,"has_downloads":true,"name":"basic_auth"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"f5bdcd2978e6fcd2811b039d8d25df3b"'
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"message":"name already exists on this account","field":"name","resource":"Repository","code":"custom"}],"message":"Validation
        Failed"}'
  recorded_at: Mon, 07 May 2012 15:42:17 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: ! '{"homepage":"https://github.com","private":false,"has_issues":true,"has_wiki":true,"has_downloads":true,"name":"basic_auth"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Basic realm="GitHub"
      X-Ratelimit-Limit:
      - '5000'
      Etag:
      - ! '"99852aefab6a0988db8f62bf2fb96f49"'
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Requires authentication"}'
  recorded_at: Mon, 07 May 2012 16:12:15 GMT
recorded_with: VCR 2.1.1
