--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.github.com/user/repos
    body: 
      encoding: UTF-8
      string: "{\"homepage\":\"https://github.com\",\"public\":true,\"has_issues\":true,\"has_wiki\":true,\"has_downloads\":true,\"name\":\"basic_auth\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 401 Unauthorized
      Www-Authenticate: 
      - Basic realm="GitHub"
      X-Ratelimit-Limit: 
      - "5000"
      Etag: 
      - "\"99852aefab6a0988db8f62bf2fb96f49\""
      X-Ratelimit-Remaining: 
      - "4999"
    body: 
      encoding: US-ASCII
      string: "{\"message\":\"Requires authentication\"}"
  recorded_at: Sat, 10 Mar 2012 23:11:46 GMT
recorded_with: VCR 2.0.0
